---
import Marquee from "@/components/widgets/Marquee.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import type { customersSectionType } from "@/types";
import { markdownify } from "@/lib/utils/textConverter";

type Props = {
  content?: customersSectionType;
  class?: string;
  width?: "sm" | "md";
};

// Fetching the default content for this section
let default_content = (
  await getEntryCTM("sections", "customers", Astro.currentLocale)
)?.data as customersSectionType;

// Enables content customization with a fallback to default_content
let actual_content = overrideObjects(
  { ...default_content },
  Astro.props.content,
) as customersSectionType;

// Extracting required values from content
let {
  enable = true,
  description,
  marquee,
  list,
} = actual_content;

const { class: className, width = "sm", ...rest } = Astro.props;

// Prepare duplicated list for the marquee
let duplicatedList = list.length <= 3
  ? Array.from({ length: 3 }, () => [...list]).flat()
  : Array.from({ length: 2 }, () => [...list]).flat();
---
{enable && (
  <section class:list={[className]} {...rest}>
    <div class="container mt-20 lg:mt-36">
      <div
        class:list={[
          "mx-auto text-center",
          width === "sm" ? "max-w-full" : "max-w-full",
        ]}
      >
        {description && (
          <p
            class="shrink-0 text-center text-xs tracking-wider opacity-80"
            set:html={markdownify(description)}
          />
        )}
        <div
          class="relative mt-4 flex items-center overflow-x-hidden [mask-image:linear-gradient(to_right,rgba(0,0,0,0)_0%,rgb(0,0,0)_10%,rgb(0,0,0)_90%,rgba(0,0,0,0)_100%)]"
        >
          <Marquee
            marqueeElements={duplicatedList.length}
            marqueePauseOnHover={marquee.pause_on_hover}
            marqueeReverse={marquee.reverse}
            marqueeDuration={marquee.duration}
            marqueeElementWidth={marquee.element_width}
            marqueeElementWidthAuto={marquee.element_width_auto}
            marqueeElementWidthResponsive={marquee.element_width_in_small_devices}
          >
            {duplicatedList.map((item) => (
              <div
                class:list={[
                  "px-4",
                  {
                    "min-w-fit": marquee.element_width_auto,
                  },
                ]}
                class="flex items-center justify-center"
              >
                <OptimizedImage
                  src={item.src}
                  alt={item.alt}
                  height={80} // Altura fija
                  class="object-contain h-[80px] w-auto max-w-none" // Estilos clave
                />
              </div>
            ))}
          </Marquee>
        </div>
      </div>
    </div>
  </section>
)}
